/* =========================
   Reset & Base
========================= */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Markazi Text", serif;
  background: #f8f9fa;
  direction: rtl;
}

/* =========================
   Footer
========================= */
footer {
  margin: 10px;
  border-radius: 1rem;
  background-color: #036;
  color: #fff;
}

.footer {
  display: flex;
  gap: 3rem;
  padding: 3rem;
  align-items: flex-start;
}

/* ستون‌ها */
.footer > div {
  flex: 1;
}

/* =========================
   Typography
========================= */
.footer h3 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.footer p {
  margin: 0 0 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.footer ul {
  margin: 0;
  padding: 0;
  /* list-style: none; */
}

.footer ul li {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
}

/* =========================
   Social Icons
========================= */
.social-icons {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
}

.footer .social-icons img {
  width: 40px;
  height: auto;
  transition: transform 0.3s ease;
}

.footer .social-icons a:hover img {
  transform: scale(1.15);
}

/* =========================
   Responsive
========================= */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }
}
